img{
    height:300px;
    width: 300px;
    position: absolute;
    margin: 50px;
}
.img1{
    top: 30px;
    left: 30px;
    border: red dashed 4px;
    z-index: 0;
}
.img{
    top: 50px;
    left: 50px;
    border: dodgerblue dashed 3px;
    z-index: -1;
}
.img3{
    top: 70px;
    left: 70px;
    border: fuchsia dashed 3px;
    z-index: 0;
}